html,
body {
  padding: 0;
  margin: 0;
  background: black;
}

#pages {
  position: absolute;
  bottom: 16px;
}

#pages a {
  color: white;
  text-decoration: none;
}

#pages a.active {
  background-color: #8FAFAF;
  color: white;
}

#middle {
  color: #A1A2A2;
}

#inner {
  margin: 16px;
}

#inner a:link {
  color: #C3C7C7;
}

#inner a:visited {
  color: #8FAFAF;
}

#bottom {
  display: flex;
  justify-content: center;
}