
html,
body,
#wrapper {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: black;
  color: #A1A2A2;
  position: relative;
}

#inner {
  margin-top: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
}

#inner a:link {
  color: #C3C7C7;
}

#inner a:visited {
  color: #8FAFAF;
}